@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
    background-color: #e9e9e9;
}
.logo{
    font-size: 24px;
    font-weight: 600;
    color: #FFA400;
   
}

.navbar{
    display: flex;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 30px;
    font-weight: 500;
    color: #A2A1A1;
}

.navbar a:hover{
    color: #FFA400;
}
.hero{
    display: flex;
    align-items: center;
    width: 100%;
    height: 750px;
    padding: 50px 10%;
    background-image: url("../images/Group\ 11.svg");
    background-size: cover;
}
.hero-img img{
    width: 100%;


    
    /* height: 80px; */
}


.home-text h2{
    color: #FFA400;
    font-size: 64px;
    
}

.home-text h3{
    color: #000000;
    font-size: 40px;
    width: 400px;
}

.home-text p{
    color: #000000;
    font-weight: 200;
    font-size: 25px;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 0.5rem;
    color: white;
    background-color: #FFA400;
}

.promo-text{
    margin-top: 100px;
    text-align: center;
}

.promo-text span{
    color: #FFA400;
}
.promo-card{
    display: flex;
    margin: auto;
    width: 90%;
    margin: 50px auto;
    justify-content: space-evenly;
}

.card1,
.card2,
.card3{
    width: 360px;
    height: 450px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 30px 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 2px 2px 12px rgb( 0, 0, 0, 0.2) ;
}

.card1 div,
.card2 div,
.card3 div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #2f3640;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}

.card1 a,
.card2 a,
.card3 a{
    
    padding: 10px;
    background-color: #FFA400;
    color: white;
    border-radius: 5px;
}

.card1 a:hover,
.card2 a:hover,
.card3 a:hover{
    background-color: #ebb34b;
}

.card1 h3,
.card2 h3,
.card3 h3{
    margin-top: 30px;
}



