@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,100&display=swap');

/*===== VARIABLES CSS =====*/
:root{
    /*===== Colors =====*/
    --background-color: #F1F1F1;
    --input-color: #464545;
    --border-color: #c7c6c6;
  
    /*===== Font =====*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
  }
    
  /*===== BASE =====*/
  *,::before,::after{
    box-sizing: border-box;
  }
  body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    /* font-size: var(--normal-font-size); */
    background-color: var(--background-color);
  }
  h1{
    margin: 0;
    color: var(--input-color);
  }
  
  /*===== FORM =====*/
  .l-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .form{
    width: 360px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow:  20px 20px 32px #a6a6a6,
    -20px -20px 32px #ffffff;
  }
  .form__title{
    font-weight: 400;
    margin-bottom: 3rem;
  }
  .form__div{
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
  }
  .form__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
    color: #8b8888;
    font-family: var(--body-font);
    font-weight: thin;
  }
  .form__label{
    position: absolute;
    left: 1rem;
    top: .8rem;
    padding: 0 .25rem;
    background-color: var(--background-color);
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
  }
  .form__button{
    display: block;
    margin-left: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--input-color);
    color: var(--background-color);
    font-size: var(--normal-font-size);
    font-family: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
  }
  .form__button:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
  }
  
  /*Input focus move up label*/
  .form__input:focus + .form__label{
    top: -.5rem;
    left: .8rem;
    z-index: 10;
  }
  
  /*Input focus sticky top label*/
  .form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
    top: -.5rem;
    left: .8rem;
    z-index: 10;
  }
  
  /*Input focus*/
  .form__input:focus{
    border: 2px solid var(--border-color);
  }